@use "global" as gb;

#btn-add {
    width: calc(gb.$diameter - 2px);
    height: calc(gb.$diameter - 2px);

    border: none;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;

    i {
        font-size: gb.$diameter;
        color: gb.$secondary-color;
    }

    &:hover, &:focus {
        cursor: pointer;
        outline: none;
        
        i {
            --webkit-animation: pulse-animation 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
            animation: pulse-animation 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
        }
    }
}

@-webkit-keyframes pulse-animation {
    0% {
        -webkit-transform: scale(100%);
        transform: scale(100%);
    }

    50% {
        -webkit-transform: scale(120%);
        transform: scale(110%);
    }

    100% {
        -webkit-transform: scale(100%);
        transform: scale(100%);
    }
}

@keyframes pulse-animation {
    0% {
        -webkit-transform: scale(100%);
        transform: scale(100%);
    }

    50% {
        -webkit-transform: scale(120%);
        transform: scale(110%);
    }

    100% {
        -webkit-transform: scale(100%);
        transform: scale(100%);
    }
}

.btn-remove {
    width: calc(gb.$diameter * 1.5);
    height: gb.$diameter;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 0 15px 15px 0;

    background-color: gb.$main-white-color;

    i {
        font-size: 1.2em;
        color: gb.$dark-white-color;
    }

    &:hover, &:focus {
        cursor: pointer;
        outline: none;

        background-color: gb.$dark-white-color;

        i {
            color: gb.$main-white-color;
        }
    }
}

.btn-completed {
    width: calc(gb.$diameter * 1.5);
    height: gb.$diameter;

    background-color: gb.$secondary-color;
    border: none;

    font-size: 1.1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    i {
        color: white;
    }

    &:hover, &:focus {
        cursor: pointer;
        outline: none;

        opacity: 0.9;

        i {
            color: gb.$main-white-color;
        }
    }
}

#btn-remove-all {
    width: calc(gb.$diameter * 2 + 10px);
    height: calc(gb.$diameter);
    padding: 5px;

    border: none;
    border-radius: 15px;

    color: gb.$main-color;
    background-color: gb.$secondary-color;

    position: absolute;
    right: calc(0px - gb.$diameter - 5px);
    z-index: 1;

    &:hover, &:focus {
        cursor: pointer;
        outline: none;

        color: gb.$main-white-color;
    }
}


// MODALS

#close-modal {
    width: gb.$diameter;
    height: gb.$diameter;

    font-size: 28px;
    font-weight: bold;

    color: gb.$main-color;
    background-color: transparent;
    border: none;

    pointer-events: all;    // to be able to close the modal using events

    &:hover, &:focus {
        cursor: pointer;
        outline: none;

        color: gb.$main-white-color;
    }
}

#copy-clipboard {
    width: fit-content;
    height: fit-content;

    padding: 5px 10px;

    border: 1px solid transparent;
    border-radius: 8px;
    background-color: gb.$main-color;
    color: gb.$main-white-color;

    pointer-events: all;

    transition: all 0.3s;

    i {
        margin-right: 5px;
    }

    &:hover, &:focus {
        cursor: pointer;
        outline: none;

        border: 1px solid gb.$main-color;
        background-color: gb.$secondary-color;
        color: gb.$main-color;
    }
}


// DELETE ALL -> CONFIRM & DENY BUTTONS

@mixin empty-popup {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;

    font-weight: bold;
    color: white;

    &:hover, &:focus {
        cursor: pointer;
        outline: none;
        opacity: 0.9;
    }
    @content;
}

#confirm-empty {
    @include empty-popup() {
        background-color: gb.$red-color;
    }
}

#deny-empty {
    @include empty-popup() {
        background-color: gb.$dark-white-color;
    }
}