// VARIABLES

$main-color: #14213d;
$secondary-color: #fca311;
$main-white-color: #e5e5e5;
$dark-white-color: #9a9a9a;
$red-color: #e0607e;

$diameter: 32px;

// STYLES

html {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-color: $main-color;
}


i {
    pointer-events: none;
}


.container {
    width: 100%;
    max-width: 1500px;

    margin: 0 auto;

    display: grid;
    grid-template-columns: 2fr 3fr;
    // place-items: center;

    position: relative;
}


.left {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

    position: relative;

    border-right: 3px solid $secondary-color;

    h1 {
        position: absolute;
        top: 20%;

        font-size: 3rem;
        border-bottom: 1px solid $secondary-color;

        color: $main-white-color;
    }
}


#user-inputs-wrapper {
    width: 100%;
    height: 100vh;

    padding: 0 5vw;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    #todo-input-wrapper {
        position: relative;

        #todo-input {
            height: $diameter;
    
            padding: 0 15px;
    
            border: 2px solid transparent;
            border-bottom: 2px solid $main-white-color;
            border-radius: 0;
            color: $main-white-color;
            background-color: transparent;

            transition: all 0.3s ease;
            -moz-transition: 0.3s ease all;
            -webkit-transition: 0.3s ease all;

            &:hover {
                border-radius: 15px;
                border-bottom: 2px solid $secondary-color;
            }
            
            &:focus, &:valid {
                outline: none;
                
                border-radius: 15px;
                border: 2px solid $secondary-color;
            }

            &:focus ~ label, &:valid ~ label {
                top: -10px;
                left: 20px;
                font-size: 0.8rem;
            }
        }

        label {
            padding: 0 3px;
            background-color: $main-color;
            color: $dark-white-color;

            position: absolute;
            top: 6px;
            left: 15px;
            z-index: 1;

            transition: all 0.2s ease;
        }
    }

    #filter-todos {
        height: $diameter;
        padding: 0 8px;

        border: 1px solid transparent;
        border-radius: 15px;

        color: $main-color;

        &:hover, &:focus {
            cursor: pointer;
            outline: none;
            background-color: $main-white-color;
        }
    }
}


#todos-wrapper {
    max-width: 100%;
    padding: 10px 15px 10px 50px;

    // overflow in Y
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 10px;
    
    .todo-item-wrapper {
        // width: 100%;
        height: $diameter;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        transition: all 0.5s ease;
        
        .todo-text {
            width: 100%;
            height: 100%;

            padding: 0 15px;

            flex: 1;

            // overflow in X
            overflow-x: auto;
            white-space: nowrap;
            // hide scrollbar when overflow
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;
            scrollbar-width: none;
            // ****************************

            border-radius: 15px 0 0 15px;

            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: white;

            &:hover, &:focus {
                background-color: $main-white-color
            }
        }
    }

    .todo-item-wrapper.todo-completed {
        @extend .todo-item-wrapper;

        opacity: 0.6;

        .todo-text {
            text-decoration: line-through;
        }
    }

    .todo-item-wrapper.slide {
        transform: translateX(10rem);
        opacity: 0;
    }
}


@mixin modal-common($bg-color: $main-white-color, $text-color: $main-color) {
    padding: 2px 16px;
    background-color: $bg-color;
    color: $text-color;
}


#modal-wrapper {
    width: 100vw;
    height: 100vh;

    background: rgba($main-color, 0.8);

    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    
    #modal {
        width: 80%;
        max-width: 500px;
    
        height: 80%;
        max-height: 300px;
    
        border: 1px solid $secondary-color;
        border-radius: 16px;
        background-color: $main-white-color;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    
        // display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
    
        overflow: hidden;
    
        animation: fade-in 0.2s ease;
    
        #modal-content {
            width: 100%;
            height: 100%;
    
            padding: 0;
            margin: auto;
    
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            position: relative;
    
            // to not close the modal when clicking on its content
            pointer-events: none;
        
            #modal-header {
                @include modal-common($secondary-color, $main-white-color);
                
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
    
            #modal-body {
                height: 100%;
                @include modal-common();
                padding-top: 6px;
    
                display: block;
                flex: 1;
                overflow: auto;
    
                pointer-events: all;
    
                p {
                    height: 100%;
                }
            }
    
            /* #modal-footer {
                @include modal-common($dark-white-color, $main-color);
            } */
        }
    }
}


// DELETE ALL -> CONFIRMATION POPUP STYLES

#confirmation-popup {
    width: fit-content;
    height: fit-content;
    padding: 15px;

    display: none;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    border-radius: 15px;
    background-color: $main-white-color;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

    animation: fade-in 0.2s ease;

    div {
        margin-right: 15px;
        margin-top: 10px;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;

        pointer-events: none;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


// SCROLLBAR DESIGN

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $main-white-color;
}

::-webkit-scrollbar-thumb {
    background: #888;

    &:hover {
        background: #555;
    }
}