@charset "UTF-8";
html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #14213d;
}

.container {
  width: 100vw;
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

#todos-wrapper {
  padding: 10vh 15px;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 3fr));
  gap: 10px;
}
#todos-wrapper .todo-item-wrapper, #todos-wrapper .todo-item-wrapper.todo-completed {
  width: 100%;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#todos-wrapper .todo-item-wrapper .todo-text {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 15px 0 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
#todos-wrapper .todo-item-wrapper .todo-text::-webkit-scrollbar {
  display: none;
}
#todos-wrapper .todo-item-wrapper .todo-text:hover, #todos-wrapper .todo-item-wrapper .todo-text:focus {
  background-color: #e5e5e5;
}
#todos-wrapper .todo-item-wrapper.todo-completed {
  opacity: 0.6;
}
#todos-wrapper .todo-item-wrapper.todo-completed .todo-text {
  text-decoration: line-through;
}

/* MEDIA QUERIES -> cuando tenga menos de X anchura
Container a una columna (1fr)

Cambiar colores: main (azul marino) por el secundario (mostaza),
y al revés. O SINO: poner el 'form' arriba en modo stiky (como
si fuera un navbar) con fondo mostaza y los tasks que vayan
haciendo scroll abajo
*/
#btn-add {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
#btn-add i {
  font-size: 32px;
  color: #fca311;
}
#btn-add:hover, #btn-add:focus {
  cursor: pointer;
  outline: none;
}
#btn-add:hover i, #btn-add:focus i {
  --webkit-animation: pulse-animation 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
  animation: pulse-animation 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}
@keyframes pulse-animation {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(120%);
  }
  100% {
    transform: scale(100%);
  }
}
.btn-remove {
  width: 48px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0 15px 15px 0;
  background-color: #e5e5e5;
}
.btn-remove i {
  font-size: 1.2em;
  color: #9a9a9a;
}
.btn-remove:hover, .btn-remove:focus {
  cursor: pointer;
  outline: none;
  background-color: #9a9a9a;
}
.btn-remove:hover i, .btn-remove:focus i {
  color: #e5e5e5;
}

.btn-completed {
  width: 48px;
  height: 32px;
  background-color: #fca311;
  border: none;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-completed i {
  color: white;
}
.btn-completed:hover, .btn-completed:focus {
  cursor: pointer;
  outline: none;
  opacity: 0.9;
}
.btn-completed:hover i, .btn-completed:focus i {
  color: #e5e5e5;
}/*# sourceMappingURL=styles.css.map */